header, main, footer {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-size: x-large;
 
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.Welcome{
    padding: 1px;
    background-color: #bb2c2c;
    text-align: left;
    align-items: flex-start;
}


.logo1 {
    color: #DD2424;
    font-weight: bold;
    font-size: 1.2rem;
}
.logo2 {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
background-color: #FFFF;
}
nav a {
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav ul a {
    color: black;
    font-weight: 300;
}


.login{
    display: flex;
    padding: 10px 20px;
    background-color: #572121;
    color: white;
    font-weight: bold;
    margin: 0%;
    border-radius: 5%;
}

.login a{
    color: white;
    font-weight: bold;
}

.register-dropdown {
    position: relative;
    display: inline-block;
}

.register-btn {
    background-color: #572121;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.register-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.register-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.register-dropdown:hover .register-dropdown-content {
    display: block;
}

.register-dropdown:hover .register-btn {
    background-color:rgb(221, 174, 174);
    
}
.banner{
    padding: 100px 50px;
    background-color: #bb2c2c;
   background-image:url(images/HREATE.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-blend-mode: multiply;

    
}
.mybanner{
    align-items: center;
    color:white;
    text-align: center;
    text-decoration: solid;
}
.mybanner p{
    color: white;
}

.service_offer{
    padding: 0px;
    background-color: white;

}
.myservice{
    text-align: center;
    color: red;

}
p{
    text-align: center;
    color: #000;
}
.service-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.service {
    flex: 1 1 25%;
    height: 150x;
    background-color:rgb(221, 174, 174);
    border-radius: 10px;
}

.copy_right{
    background-color:#bb2c2c;
    text-align: center;
    padding: 1px;
    color: white;
}

.event{
text-align: center;
}
.about{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.do{
    text-align: center;
    padding-right: 400px;
    font-size: 2.5rem;
    justify-content: center;
   
}
.mission{
    text-align: center;
    font-size: 2.5rem;
}
.div-text{
    font-size: 1.5rem;
}
.section-content{
    width: 100px;
    height: 100px;
}
.para{
    padding: 0px;
    font-size: 1.5rem;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 200px;
    font-size: 1.5rem;
}
.container img{
    width: 700px;
    margin-right: 30px;
}
.container .text{
    max-width: 400px;
    
}
.image{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.our-vision{
    text-align: center;
    font-size: 2.5rem;
}
.s{
    font-size: 1.5rem;
}
.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
